# Ignore build outputs
**/bin/
**/obj/
**/out/

# Ignore Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/

# Docker-related files
Dockerfile*
docker-compose*

# Environment / secrets
*.env
*.local
secrets*.yaml
values*.yaml

# Misc
*.log
*.tmp
*.swp
*.DS_Store
